@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1em;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 900px){

    header{
        padding: 15px 10%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #212529;
    }

    #contact, .link{
        color: white;
    }

    #header-ul{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }

    .header-li{
        padding: 0;
        text-align: center;
        transition: all 0.3s ease 0s;
    }

    .header-li:hover{
        transform: scale(1.2);
        padding: 0 10px;
    }

    .link{
        padding: 0 15px;
        text-decoration: none;
        transition: color 0.3s ease 0s;
        white-space: nowrap;
    }

    .link:hover{
        color: #0466c8;
    }

    #contact{
        padding: 5px 8px;
        border: 2px solid #0466c8;
        border-radius: 15px;
        background-color: rgba(4, 102, 200, 0.8);
        transition: all 0.3s ease 0s;

    }

    #contact:hover{
        background-color: rgba(4, 102, 200, 1);
        padding: 5px 18px;
    }

}

@media screen and (max-width: 900px){
    
    header{
        padding: 15px 10%;
        justify-content: space-between;
        align-items: center;
        background-color: #212529;
        display: flex;
        flex-direction: column;
    }

    #contact, .link{
        color: white;
    }

    #header-ul{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        align-items: center;
        flex-wrap: wrap;

    }

    #header-nav{
        margin-bottom: 10px;
        width: 80%;

    }

    .header-li{
        padding: 6px 0;
        text-align: center;
    }

    .link{
        padding: 0 15px;
        text-decoration: none;
        transition: color 0.3s ease 0s;
        white-space: nowrap;
        text-align: center;
        height: 30px;
    }

    .link:hover{
        color: #0466c8;
    }

    #contact{
        width: 100%;
        padding: 5px 8px;
        border: 2px solid #0466c8;
        border-radius: 15px;
        background-color: rgba(4, 102, 200, 0.8);
        transition: background-color 0.3s ease 0s;

    }

    #contact:hover{
        background-color: rgba(4, 102, 200, 1);
    }

}
